@keyframes rotate {
  from { transform: rotateX(-30deg) rotateY(0deg); }
  to { transform: rotateX(330deg) rotateY(1800deg); }
}
.cube {
	-webkit-animation: rotate 120s infinite linear;
	animation: rotate 120s infinite linear;
}
